{% load staticfiles %}

<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'users/frontend.css' %}" />
<title>CS 169 Warmup Login Counter</title>
</head>


<body>

<div id="login_form" class="core">
  <div class="message" id="login_message">
    <span>Please Enter Your Credentials Below</span>
  </div>
  <form action="/client/count" method="post">
    <center>
    {% csrf_token %}
    <label for="username">Username: </label>
    <input type="text" name="username" maxlength="128" /><br />
    <label for="password">Password: </label>
    <input type="password" name="password" maxlength="128" /><br />
    <input type="submit" name="login" value="Login" />
    <input type="submit" name="add" value="Add User" />
    </center>
  </form>
</div>

</body>
</html>