{% load staticfiles %}

<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="stylesheet" type="text/css" href="{% static 'users/frontend.css' %}" />
<title>CS 169 Warmup Login Counter</title>
</head>


<body>

<div id="count" class="core">
  <div class="message" id="count_message">
    <span id="countmsg">{{ msg|safe }}</span>
  </div>
  <form action="/client/" method="post">
    <center>
    {% csrf_token %}
    <input type="submit" value="Logout" />
  </form>
</div>

</body>
</html>